#title {
  background-image: url(../img/Backgrounds/Waimakariri.png);
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#title h1 {
  font-size: 25vw;
  line-height: 100vh;
}

main {
  margin: 50px auto;
}

.about-content {
  text-align: justify;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  margin: 50px 0 25px 0;
  text-align: center;
}

#people-list {
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: center;
}

.person-element {
  width: 180px;
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  margin: 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-profile {
  width: 80%;
  padding-top: 80%;
  background-size: cover;
  background-position: center;
  transition: 0.3s all;
  border-radius: 100%;
  display: flex;
  position: relative;
}
.person-profile::before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 100%;
  transition: 0.3s all;
  position: absolute;
  top: -15px;
  left: -15px;
  border: 5px solid transparent;
  transition: 0.3s all;
}

.person-name {
  padding-top: 20px;
  transition: 0.3s all;
  position: relative;
  transition: 0.3s all;
  top: 0;
}
.person-element:hover .person-profile {
  transform: scale(1.1);
}
.person-element:hover .person-profile::before {
  border-color: #fff;
}
.person-element:hover .person-name {
  top: 20px;
}
