#title{
  background-image: url(../img/backgroundsbundle/Whangaehu.png);
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#title h1{
  font-size: 25vw;
  line-height: 100vh;
}

main{
  margin: 50px auto;
}

.filter{
margin: 20px 0;   

}

.filter h3{
  margin-bottom: 5px;
}

.filter button{
  background-color: transparent;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color;
  margin: 0 5px;
}
.filter button:first-child{
  margin-left: 0;
}
/* .filter button:hover, */
.filter button.active{
  background-color: #fff;
  color: rgb(6, 6, 61);
}
.container {
overflow: hidden;
}

.filterDiv {
float: left;
background-color: #2f7a2f;
color: #120202;
width: 100px;
/*line-height: 100px;*/
text-align: center;
margin: 2px;
display: none; /* Hidden by default */
}
.show {
  display: block;
}
#container {
  display: flex;
  width: 100%;
}
.card_container{
  /* position: absolute; */
  /* justify-content: center; */
  min-width: 300px;
  padding: 0px 5px;
}
.card{
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin: 5px auto;
  border-radius: 10px;
}


/* @media only screen and (max-width: 700px){
  .card{
      display: block;
      width: calc(100% / 2 - 4px);
      min-width: min-content;
      margin-left: 0!important;
      margin-right: 0!important;
  }
} */
.card h2{
  color:rgb(6, 6, 61);
}
.card .audTag{
  color: white;
  padding: 5px 10px;
  margin: 10px 5px 5px 0;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
.card .audTag.Beginner{
  background-color: #2f7a2f;
}
.card .audTag.Intermediate{
  background-color: #f7b500;
}
.card .audTag.Advanced{
  background-color: #f70000;
}
.card .typeTag {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
  margin-left: 0;
}
.card .topicTag{
  background-color: rgb(12, 4, 75);
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
.card .dateTag{
  background-color: rgba(6, 126, 14, 0.517);
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
/* .card .typeTag span:first-child{
  margin-left: 0;
} */
.card a{
  display: block;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 10px 20px;
  background-color: rgb(6, 6, 61);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s background-color, 0.3s color;

}
.card a:hover{
  background-color: white;
  color: rgb(6, 6, 61);
}
#learnMore{
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 10px;
  transition: 0.3s background-color, 0.3s color;
  width: 100%;
}
#learnMore:hover{
  background-color: white;
  color: rgb(255, 0, 0);
}
#modal{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
#modal .modal-content{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  height: 80%;
  max-height: 500px;
  overflow: auto;
}
#modal .modal-content .close{
  color: black;
  position: top-right;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s color;
}
#modal .modal-content .close:hover{
  color: red;
}
#modal .modal-content .modal-body{
  height: 100%;
  overflow: auto;
}
#modal .modal-content .modal-body h2{
  color: rgb(6, 6, 61);
}
#modal .modal-content .modal-body .audTag{
  color: white;
  padding: 5px 10px;
  margin: 10px 5px 5px 0;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
#modal .modal-content .modal-body .audTag.Beginner{
  background-color: #2f7a2f;
}
#modal .modal-content .modal-body .audTag.Intermediate{
  background-color: #f7b500;
}
#modal .modal-content .modal-body .audTag.Advanced{
  background-color: #f70000;
}
#modal .modal-content .modal-body .typeTag{
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
#modal .modal-content .modal-body .typeTag{
  background-color: rgb(12, 4, 75);
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
#modal .modal-content .modal-body .dateTag{
  background-color: rgba(6, 126, 14, 0.517);
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
}
#modal .p{
  margin: 0;
  padding: 0;
  color: black;
}