#title {
  text-align: center;
  height: 100vh;
  background: url(../img/Backgrounds/Taieri_mini.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#title img {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#about,
#events,
#blogs {
  padding: 50px 25px;
  clear: both;
  overflow: auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.about-content,
#about img {
  width: 50%;
  display: block;
  float: left;
}

.about-content {
  width: calc(50% - 20px);
  padding: 10px;
  text-align: justify;
  margin-bottom: 25px;
}
@media only screen and (max-width: 800px) {
  .about-content{
    width: calc(100% - 20px);
  }
  #about img {
    width: 100%;
  }
  #about,
  #events,
  #blogs {
    padding: 100px 5px;
  }
}

#eventsGrid{
  overflow: hidden;
}

#eventsGrid > div {
  float: left;
  width: calc(100% / 2 - 4px);
  box-sizing: border-box;
  margin: 2px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  transition: 0.3s all;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;
}
#eventsGrid *{
  color: #000;
}
.eventCardImg{
  width: 20%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px;
}
.eventCardContent{
  padding: 20px;
  width: 80%;
}
.eventCardDate{
  color: rgb(214, 70, 17)!important;
  font-weight: 600;
  text-transform: uppercase;
}
.eventCardTitle{
  margin: 5px 0 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eventCardType{
  background-color: rgb(214, 70, 17);
  color: #fff!important;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  #eventsGrid > div {
    width: 100%;
    margin: 2px 0;
  }
}

#viewAllEvents,
#viewAllBlogs{
  clear: both;
  display: block;
  margin: auto;
  background-color: #fff;
  color: rgb(4, 4, 108);
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-top: 25px;
  width: 200px;
  text-align: center;
  transition: 0.3s all;
}
#viewAllEvents span,
#viewAllBlogs span{
  color: rgb(4, 4, 108);
  vertical-align: bottom;
  font-size: 18px;
  font-weight: 600;
}
#viewAllEvents:hover,
#viewAllBlogs:hover{
  background: #000;
  color: #fff;
  letter-spacing: 1px;
}
#viewAllEvents:hover span,
#viewAllBlogs:hover span{
  color: #fff;
}

#eventModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  padding-top: 50px;
  animation: fadein 0.3s ease-in-out forwards;
}
#closeEventModal{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}
#eventModal .modalContent{
  width: 90%;
  max-width: 600px;
  margin: auto;
  max-height: calc(100vh - 100px);
  background-color: #fff;
  border-radius: 20px;
  overflow: auto;
  animation: growin 0.3s ease-in-out forwards;
}
@keyframes growin{
  0%{
    transform: scale(0.5);
    translate: 0 500px;
  }
  100%{
    transform: scale(1);
    translate: 0 0;
  }
}
#eventModal .modalDescription{
  white-space: pre-line;
}
#eventModal .modalImg{
  border-radius: 20px 20px 0 0;
  padding-top: 60%;
  background-size: contain;
  background-position: center;
  position: relative;
}
#eventModal .modalImg img{
  display: none;
  width: 100%;
}
#eventModal .imagesButtons{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
}
#eventModal .imagesButtons button{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  cursor: pointer;
  transition: 0.3s all;
}
#eventModal .imagesButtons button.active{
  background-color: #fff;
  width: 15px;
  height: 15px;
}
#eventModal .modalDetails{
  padding: 20px;
}
#eventModal .modalDetails *{
  color: #000;
}
#eventModal .modalHeading{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#eventModal .modalDate, 
#eventModal .modalPlace{
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 10px 0;
}
#eventModal .modalDate span, 
#eventModal .modalPlace span{
  vertical-align: bottom;
  font-size: 40px;
  margin-right: 15px;
}
#eventModal .modalDate,
#eventModal .modalDate span{
  color: #3F51B5;
}
#eventModal .modalPlace,
#eventModal .modalPlace span{
  color: #009688;
}
#eventModal .modalChips{
  text-align: center;
  margin: 10px 0;
  font-size: 0.8em;
}
#eventModal .modalType,
#eventModal .modalAudience{
  color: #fff!important;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
}
#eventModal .modalType{
  background-color: rgb(214, 70, 17);;
}
#eventModal .modalAudience{
  background-color: #E91E63;
}
#eventModal .modalTopic{
  border: 1px solid #333;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 20px;
  display: inline-block;
  margin: 0 2px;
}

#blogsGrid{
  overflow: hidden;
}

#blogsGrid > a{
  text-decoration: none;
  float: left;
  width: calc(100% / 2 - 4px);
  box-sizing: border-box;
  border: 1px solid grey;
  margin: 2px;
  border-radius: 5px;
  transition: 0.3s all;
  color: #eeeeee;
}
#blogsGrid h2{
  padding: 20px 10px 0 10px;
}

#blogsGrid .img-container{
  width: 100%;
  padding-top: 40%;
  background-size: cover;
  background-position: center;
}

.blogCategories{
  padding: 10px;
}
.blogCategories span{
  display: inline-block;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0 2px;
  transition: 0.3s all;
}
.blogAuthor{
  padding: 10px;
  display: flex;
  align-items: center;
}
.blogAuthor img{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 10px;
}

#blogsGrid > a:hover{
  background:#fff;
}
#blogsGrid a:hover *{
  color: #000;
}
#blogsGrid a:hover .blogCategories span{
  border-color: #000;
}

#contact{
  overflow: hidden;
}
#contactMap{
  display: block;
  width: 60%;
  float: left;
}
#contactDetails{
  display: block;
  width: calc(40% - 10px);
  float: left;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 0 0 10px;
  color: #000;
}

#contactDetails > a{
  font-size: 16px;
  display: flex;
  padding: 25px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

#contactDetails > a span{
  color: #000;
}

#contactDetails > a span:first-child{
  width: 20%;
}

#contactDetails > a:hover{
  background-color: #eeeeee;
}

#contactDetails .socials{
  display: flex;
  flex-direction: row;
}
#contactDetails .socials a{
  width: calc(100% / 4);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactDetails .socials a:hover{
  opacity: 0.8;
}
#contactDetails .socials a img{
  width: 32px;
  height: 32px;
}


#contactDetails .socials a.facebook{
  background-color: #1877f2;
}
#contactDetails .socials a.instagram{
  background-color: #e1306c;
}
#contactDetails .socials a.linkedin{
  background-color: #007ab9;
}
#contactDetails .socials a.github{
  background-color: #000;
}

@media only screen and (max-width: 600px){
  #contactMap, #contactDetails{
    width: 100%;
  }
  #contactDetails{
    margin: 10px 0 0 0;
  }
}